<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>

        <div class="dropdown">
         <button onclick="onMenuClick()" class="dropbtn">Menu</button>
         <div id="myDropdown" class="dropdown-content">
           <a href="{{ site.baseurl }}/about/">About</a>
           <a href="{{ site.baseurl }}/posts/">Posts</a>
           <a href="{{ site.baseurl }}/pages/">Pages</a>
         </div>

        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <script>
      /* When the user clicks on the menu button,
      toggle between hiding and showing the dropdown content */
      function onMenuClick() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>

  </body>
</html>
